# Ignoriere LaTeX-Hilfsdateien
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR

# Ignoriere temporäre und Backup-Dateien
*~
*.bak
*.tmp
*.swp
*.swo

# Ignoriere Systemdateien (optional)
.DS_Store
Thumbs.db
